Drop the `alg` parameter.

[Section 7.3.6 of RFC9421](https://www.rfc-editor.org/rfc/rfc9421.html#section-7.3.6) suggests that the `alg` parameter be included only if it's a relevant join in the application's logic, discouraging its usage in general ("_... applications are encouraged to use other mechanisms such as static configuration or a higher-protocol-level algorithm specification instead, preventing an attacker from substituting the algorithm specified._"). Given that we only support Ed25519, it probably makes sense to drop the parameter from our profile.

cc @ddworken, as this will change the `signature-input` (and therefore the signature base (and therefore the signature)) in your prototypes if/when we make the change.